<!--<div style="background-image:url(../assets/images/img1.jpg) ; height:2000px;" class="container" >  

-->
<h1>Angular App</h1>

<div style="background-image:url(../assets//image/img1.jpg) ; height:600px;height: auto;" class="container" >  
    

    <div >
      <app-header></app-header>
    </div>
     <div style="text-align: center;">
       <router-outlet></router-outlet>
   </div>
   <div class="card-footer border-primary" style="margin-top: 40%;" >
       <app-footer></app-footer>
     </div>
    </div>